<script context='module'>
	import axios from 'axios'

	let csrfToken = document.querySelector("[name='csrf-token']");
	axios.defaults.headers.common['X-CSRF-TOKEN'] = csrfToken ? csrfToken.content : ''

</script>

<script>

	import { writable } from 'svelte/store';
	import Router from 'svelte-spa-router';

	import Graph from './graph'
	import Catalog from './catalog'
	import Profile from './profile'
	import Genre from './genre'
	import Genres from './genres'
	import Search from './search'

	const routes = {
		'/genre': Genres,
		'/genre/:genre': Genre,
		'/grid': Graph,
		'/:permalink': Profile,
		'/': Catalog
	}


</script>
<div id='wrapper' >
<nav>
	<Search />
	<ul>
		<li><a class='nav-link' href='#/'> Browse </a> </li>
		<li><a class='nav-link' href='#/genre'> Genres </a> </li>
		<li><a class='nav-link' href='#/graph'> Graph </a></li>
	</ul>
</nav>
<main>
		<Router routes={routes} />
</main>
</div>


<style>

	#wrapper {
		padding-left: 100px;
		padding-right: 100px;
	}

	:global(body) {
		margin: 0;
		padding: 0;
	}

	:global(ul) {
		list-style: none;
		margin: 0;
		padding: 0;
	}


	nav {
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul li {
		display: inline;
		padding-left: 50px;
		padding-right: 50px;
	}

	:global(input[type='search']) {
		line-height: 2 !important;
	}

	:global(nav > *) {
		padding-left: 20px;
		padding-right: 20px;

	}

	:global(.container) {
		padding-top: 10px;
		display: flex;
	}

	:global(.inner-container) {
		padding-left: 50px;
	}

	:global(.container > div) {
		width: 100%;
	}

	:global(.container aside) {
		flex-basis: 200px;
		padding-left: 20px;
		min-width: 190px;
	}

	:global(ul.user-list) {
		display: flex;
		flex-wrap: wrap;
	}

	:global(ul.user-list li) {
		width: 200px;
	}


</style>