<script>

	import { onMount } from 'svelte';
	import { writable } from 'svelte/store';
	import axios from 'axios';

	import Search from './search'
	import Pagination from './ui/pagination';
	import Avatar from './ui/avatar';

	let filters = writable({
		avg_plays:[0, 10000],
		avg_likes: [0, 10000],
		avg_comments: [0],
		avg_downloads: [0],
		avg_reposts: [0],
	})

	let results = writable([])
	let page = writable({
		page: 1
	})

	const fetchData = () => {
		axios.get('users', {
			params: {
				...$filters,
				page: $page.page
			}
		})
		.then( ({data}) => {
			results.set(data.results)
			page.set(data.page)
		})
	}

	const paginate = ({detail}) => {
		page.set(detail)
		fetchData()
	}

	onMount(fetchData)
</script>

<div class='container catalog'>



<aside>
<fieldset>
	<legend> Engagement </legend>

	<label for='plays'> Plays </label>
	<input id='plays' bind:value={$filters.avg_plays[0]} type='number'/> ... <input bind:value={$filters.avg_plays[1]} type='number'/>

	<label for='likes'> Likes </label>
	<input id='likes' bind:value={$filters.avg_likes[0]} type='number'/> ... <input bind:value={$filters.avg_likes[1]} type='number'/>

	<label for='comments'> Comments </label>
	<input id='comments' bind:value={$filters.avg_comments[0]} type='number'/> ... <input bind:value={$filters.avg_comments[1]} type='number'/>


	<label for='reposts'> Reposts </label>
	<input id='reposts' bind:value={$filters.avg_reposts[0]} type='number'/> ... <input bind:value={$filters.avg_reposts[1]} type='number'/>


	<label for='downloads'> Downloads </label>
	<input id='downloads' bind:value={$filters.avg_downloads[0]} type='number'/> ... <input bind:value={$filters.avg_downloads[1]} type='number'/>

	<button on:click={fetchData}> Filter </button>
</fieldset>
</aside>


<div class='inner-container'>

{ #if $results && $results.length }

<Pagination { ...$page}
	on:paginate={paginate}
/>

<ul class='user-list'>

	{ #each $results as result }

	<li>

		<Avatar {...result} />

		{ result.permalink }
		{ result.engagement.avg_plays }
		{ result.engagement.avg_likes }
		{ result.engagement.avg_comments }
		{ result.engagement.avg_downloads }


	</li>

	{ /each }
</ul>

<Pagination { ...$page}
	on:paginate={paginate}
/>

{ /if }

</div>
</div>
