<script>
	
	import axios from 'axios';
	import { onMount } from 'svelte';
	import { writable } from 'svelte/store'
	import Avatar from './ui/avatar';


	export let params = {}

	let genre = writable({});

	const fetchGenre = () => {
		axios.get(`genres/${params.genre}`).then( ({data}) => {
			genre.set(data)
		})
	}


	$: fetchGenre(params)


</script>

<div class='container genre'>

{ #if $genre.users && $genre.users.length }

<h1> Genre {$genre.genre} | total tracks: { $genre.track_count } </h1>

<ul class='user-list'>
{ #each $genre.users as user }
	<li> 
		<Avatar {...user.data}/>
		{ user.data.permalink }
		{ user.track_count} tracks tagged
	</li>
{ /each }
</ul>

{ /if }

</div>