<script>
	
	import axios from 'axios';
	import { onMount } from 'svelte';
	import { writable } from 'svelte/store'
	import Pagination from './ui/pagination'

	let genres = writable([]);
	let page = writable({
		page: 1
	});

	const fetchGenres = () => {
		axios.get(`genres`, {
			params: {
				page: $page.page
			}
		}).then( ({data}) => {
			genres.set(data.results)
			page.set(data.page)
		})
	}

	const paginate = ({detail}) => {
		page.set(detail)
		fetchGenres();
	}

	onMount(fetchGenres)

</script>

<div class='container genres'>
<h1> Genres </h1>

{ #if $genres && $genres.length > 0 }

<Pagination {...$page} 
	on:paginate={paginate}
/>

<ul>
{ #each $genres as genre } 

	<li>
		<a href='#/genre/{genre.genre}'> { genre.genre } </a>
		{ genre.track_count }
	</li>

{ /each }
</ul>

<Pagination {...$page} 
	on:paginate={paginate}
/>
{ /if }
</div>