<script>
  export let nodes;
  export let edges;
  export let simulation;

  import { onMount, onUpdate } from 'svelte';
  import * as d3 from 'd3';

  onMount(async () => {
  	if (nodes && nodes.length && edges && edges.length) {
  		createSimulation()
  	}
  })

  let svg;

  let width = 800; 
  let height = 800;

  $: {
  	if (simulation) simulation.stop();
		createSimulation()
  }


  function createSimulation() {
		simulation = d3.forceSimulation(nodes)
			.force("link", d3.forceLink(edges).id(d => {return d.id}))
			.force("charge", d3.forceManyBody())
			.force("center", d3.forceCenter(width / 2, height / 2))
			.on('tick', function ticked() {
				nodes = [...nodes]
				edges = [...edges]
			});
	}

</script>

{ #if edges && nodes }

	<svg 
		bind:this={svg}
		style='width: 800px; height: 800px; margin: auto auto;'
		>

		{#each edges as edge}
   	 <g stroke='#999' stroke-opacity='1'>
	      <line x1='{edge.target.x}' y1='{edge.target.y}' 
          x2='{edge.source.x}' y2='{edge.source.y}'
          >
	      </line>
	    </g>
		{/each}

		{ #each nodes as node }
    <circle class='node' r='5' fill='black' cx='{node.x}' cy='{node.y}'>
	  </circle>
		{ /each }

	</svg>	

{ /if }