<script>
	import axios from 'axios'
	import * as ActionCable from '@rails/actioncable'
	import { onDestroy, onMount } from 'svelte'
	import { writable, derived } from 'svelte/store'
	import Avatar from './ui/avatar';

	export let params = {};

	const profile = writable(undefined)
	const resolving = writable(false)
	const tab = writable('similar')
	const err = writable(false)
	const tabs = derived(tab, ($tab) => {
		return {
			similar: $tab == 'similar',
			genres: $tab == 'genres',
			tracks: $tab == 'tracks',
		}
	})

	const consumer = ActionCable.createConsumer();

	consumer.subscriptions.create({channel: 'ScrapeChannel', permalink: params.permalink}, {
		received(data) {
			$profile = JSON.parse(data)
			$resolving = false
		}
	})

	const fetchProfile = () => {
		axios.get(`users/${params.permalink}`).then(({data}) => {
			$profile = data
		})
	}

	const resolveProfile = event => {
		$resolving = true
		axios.post('users', {
			permalink: params.permalink
		}).then ( ({data}) => {
			$profile = data
			$err = false;
		}).catch( () => err.set(true))
	
	}

	$: fetchProfile(params)

</script>

<style>
	
	.inner-container > .tab {
		display: none;
	}

	.active.tab {
		display: unset !important;	
	}

	.tab-links {
		display: flex;
		padding-bottom: 10px;
	}

	.tab-links h3 {
		padding-bottom: 0px;
		margin: 0;
	}

	.tab-links a > * {
		display: inline;
	}

	.tab-links a {
		margin-right: 10px;
		text-decoration: none;
		color: black;
	}

	.tab-links a::after {
		content: '|';
		margin-left: 10px;
	}

	.tab-links a:last-child::after {
		content: '';
	}

	.tab-links a.active {
		text-decoration: underline;
	}

</style>

<div class='container profile'>
{ #if $profile && $profile.data }
	<aside class='detail'>

		<button disabled={$resolving} on:click|preventDefault={resolveProfile}> Resolve </button>

		<br/>

		{ #if $profile.data.avatar_url } 
			<Avatar {...$profile.data}/>
		{ /if }
		{ $profile.permalink } <br/>
		Tracks { $profile.data.track_count } <br/>
		Favorites { $profile.data.public_favorites_count } <br/>
		Reposts { $profile.data.reposts_count } <br/>
		Followers { $profile.data.followers_count } <br/>
		Followings { $profile.data.followings_count } <br/>

		<br/>
		Engagement
		<br/>


		{ #if $profile.engagement}
			Avg plays { $profile.engagement.avg_plays } <br/>
			Avg likes { $profile.engagement.avg_likes } <br/>
			Avg comments { $profile.engagement.avg_comments } <br/>
			Avg downloads { $profile.engagement.avg_downloads } <br/>
		{ /if }

		<br/>
	</aside>

	<div class='inner-container'>

		<div class='tab-links'>
			<a href='#similar'
				on:click|preventDefault="{() => $tab = 'similar'}"
				class:active={$tabs.similar}
			> <h3> Similar </h3> </a>
			<a 
				href='#genres' 
				on:click|preventDefault="{() => $tab = 'genres'}"
				class:active={$tabs.genres}
			> <h3> Genres </h3> </a>
			<a 
				href='#tracks'
				on:click|preventDefault="{() => $tab = 'tracks'}"
				class:active={$tabs.tracks}
			> <h3> Tracks </h3> </a>
		</div>

		<div class:active={$tabs.similar} class='tab'>
			<ul class='user-list'>
				{ #each $profile.similar_users as user }
					<li>
						<Avatar {...user.data} />
						{ user.follows }
						{ user.permalink }
					</li>
				{ /each }
			</ul>
		</div>

		<div class:active={$tabs.genres} class='genres tab'>
			{ #each $profile.genres as genre }
				<ul> 
					<li>
						<a href='#/genre/{genre.genre}'> { genre.genre } </a>
						<br/>
						track count { genre.track_count }
					</li>
				</ul>
			{ /each }
		</div>

		<div class:active={$tabs.tracks} class='tab'>
			<ul class='user-list'>
				{ #each $profile.tracks as track }
					<li>
						<img alt='Track Artwork' src="{track.data.artwork_url}">
						{ track.data.title }
					</li>
				{ /each }
			</ul>
		</div>
	</div>

{ :else if $err }

	<h2> This user doesnt exit ... :( </h2>

{ /if }
</div>


