<script>
	import Graph from './graph'
	import axios from 'axios'
	import { writable } from 'svelte/store';
	import { push } from 'svelte-spa-router'
	import Avatar from './ui/avatar';

	const results = writable([])
	const permalink = writable('')
	const isSearching = writable(false)

	const oninput = (event) => {
		if ($permalink == '') {
			$isSearching = false
			return 
		}
		$isSearching = true

		axios.get('users/search', {
			params: {
				permalink: $permalink
			}
		}).then( ({data}) => {
			$results = data
		})
	}

	const select = event => {
		if (event && event.currentTarget && event.currentTarget.dataset && event.currentTarget.dataset.permalink)
			$permalink = event.currentTarget.dataset.permalink

		push(`/${$permalink}`)
		$isSearching = false
	}

</script>

<style>

	#search {
		position: relative;
	}

	#search input {
		min-width: 350px;
	}

	.result {
		cursor: pointer;
	}

	.results {
		min-width: 350px;
		background-color: white;	
		position: absolute;
		z-index: 100;
	}

</style>
<div id='search'>
<form
	on:submit|preventDefault={select}
>

	<input
		name='search'
		bind:value={$permalink}
		type='search'
		on:input={oninput}
	/>

</form>
{ #if $isSearching  }
	<ul class='results'>
	{ #if $results && $results.length }
		{ #each $results as result }
		<li class='result' data-permalink={result.data.permalink} on:click|preventDefault={select}> 
			<Avatar {...result.data}>
				<span> { result.data.permalink } </span>
			</Avatar>
		</li>
		{ /each }
	{ :else }
		<li> No user found by '{$permalink}' </li>
	{ /if }
	</ul>
{ /if }
</div>