<script>
	import { createEventDispatcher } from 'svelte'

	export let page;
	export let total_pages;
	export let total_count;

	const dispatch = createEventDispatcher();
	
	let pages;

	const paginate = page => {
		dispatch('paginate', {
			page: page,
			total_pages,
			total_count
		})
	}

	$: {
			let count = 5;
			let s = page;
			if (total_pages >= count) {
				let pad = ~~(count/2); // # of links to display on each side of page
				let right = page + pad; // right boundry
				// get max between left overflow or -(pad) 
				//i.e. the max left overflow possible
				// add the left overflow
				s += Math.max(1 - page, -(pad))
				// get min between the # right overflow or 0
				// add the right overflow
				s += Math.min(total_pages - right, 0)
			}

			pages = [...Array(count).keys()].map(i => i + s)
		}

</script> 


<style>	
	.pagination {
		padding-bottom: 10px;
	}

	.pagination a[disabled='true'] {
	  opacity: 0.5;
	  text-decoration: none;
	}
</style>


<div class='pagination'>


	{ #if page !== 1 }
		<a href='/#' on:click|preventDefault="{e => paginate(1)}"> start </a>
		<a href='/#' on:click|preventDefault="{e => paginate(page - 1)}"> prev </a>
	{ /if }

	{ #each pages as p }
		<a href='/#' disabled="{p === page}" on:click|preventDefault="{e => paginate(p)}"> {p} </a>
	{ /each }

	{ #if page !== total_pages}
		<a href='/#' on:click|preventDefault="{e => paginate(page + 1)}">next </a>
		<a href='/#' on:click|preventDefault="{e => paginate(total_pages)}"> end </a>
	{ /if }
	pages { total_pages }
	count { total_count }
</div>