<!DOCTYPE html>
<html>
  <head>
    <title>SoundCrawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_packs_with_chunks_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
